<% if user_signed_in? %>
	<% if spot.slept_user(current_user) %>
		<%= link_to spot_slepts_path(spot),method: :delete , remote: true do %>
		    <div class="favorite-slept green">
		   		宿泊済みネドコから外す
			</div>
		 <% end %>
	<% else %>
		<%= link_to spot_slepts_path(spot),method: :post, remote: true do %>
			<div class="favorite-slept">
				宿泊済みネドコに登録
			</div>
		<% end %>
	<% end %>
<% else %>
	<div class="favorite-slept">
		宿泊済みネドコに登録
	</div>
<% end %>