<div class="top-main">
	<div class="top-main-box">
		外で寝ても、いいですか？
    </div>
  </div>
	<div class="top-add-box">
		現在登録されている寝床は〇〇件です<br>
		投稿してね
	</div>

  <div class="top-new-arrivals">
  	<div class="section-head">
		 <h3>新着寝床一覧</h3>
	  </div>
	  	<% @spot.each do |spot| %>
			<div class="main-content clearfix">
				<div class="index-image">
				  </div>
				<h4><%= spot.spot_name %></h4>
				<p><%= spot.spot_address %></p>
				タイプ：公園
			</div>
		<% end %>
  </div>