<div class="top-main">
	<div class="top-main-box">
		外で寝ても、いいですか？
    </div>
</div>
<div class="top-add-box">
		現在登録されている寝床は〇〇件です<br>
		投稿してね
</div>
</div>
<div class="top-new-arrivals">
	新着寝床一覧
	<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
</div>