<div class="spot-show">
	<div class="spot-show-main">
		<div class="spot-show-head">
			<h2>道の駅〇〇</h2>
			<p>群馬県</p>
		</div>
		  <div class="spot-space clearfix">
			<div class="spot-h3">
			    画像ギャラリー
			  </div>
				<div class="edit-button">
				 	編集する
				  </div>
				   <div class="spot-image-box">
			 	     <div class="spot-image">
			       </div>
			     イメージの説明
			  </div>
			  <div class="spot-image-box">
			 	     <div class="spot-image">
			       </div>
			     イメージの説明
			  </div>
			  <div class="spot-image-box">
			 	     <div class="spot-image">
			       </div>
			     イメージの説明
			  </div>
		</div>
		  <div class="spot-space clearfix">
			<div class="spot-h3">
		  		スポット特徴
			 </div>
			 <div class="edit-button">
				 	編集する
				 </div>
				 <div class="spot-info-box">
				 	<dl>
				 	  <dt>タイプ
				      </dt>
				      <dd>道の駅
				      </dd>
				 	</dl>
				 	<dl>
				 	  <dt>東屋
				      </dt>
				      <dd>⭕️
				      </dd>
				 	</dl>
				 	<dl>
				 	  <dt>24時間休憩所
				      </dt>
				      <dd>❌
				      </dd>
				 	</dl>
				 	<dl>
				 	  <dt>トイレ
				      </dt>
				      <dd>⭕️
				      </dd>
				 	</dl>
				 	<dl>
				 	  <dt>屋根
				      </dt>
				      <dd>➖
				      </dd>
				 	</dl>
				 	<dl>
				 	  <dt>独立水道
				      </dt>
				      <dd>⭕️
				      </dd>
				 	</dl>
				 </div>
		  </div>
		 <div class="spot-space clearfix">
		 	<div class="spot-h3">
		  		スポット登録者コメント
			  </div>
			   <div class="edit-button">
				 編集する
			 </div>
		   </div>
		 <div class="spot-space clearfix">
		 	<div class="spot-h3">
		  		コメント欄
			  </div>
			   <div class="edit-button">
				 編集する
			 </div>
		   </div>
		 <div class="spot-space clearfix">
		 	<div class="spot-h3">
		  		スポット基本情報
			   </div>
			  <div class="edit-button">
		     	編集する
			 </div>
			  <div class="spot-basis-info">
			  	道の駅　〇〇<br>
			  	群馬県<br>
			  	住所：群馬県高崎市〇〇
			  </div>
		   </div>
		 <div class="spot-space clearfix">
		 	シェアボタンスペース
		 	<ul class="spot-show-share">
		 		<li>Twitter
		 		</li>
		 		<li>Facebook
		 		</li>
		   </div>
		 <div class="spot-space clearfix">
		 	TOP > 都道府県 > 群馬県 > 道の駅○○
		 </div>

	</div>
</div>