<div class="back-ground ">
	<div class="main-space">
		<div class="section-head">
             お気に入りネドコ
          </div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>
			<div class="main-content clearfix">
				<div class="index-image">
				</div>
				<h4>〇〇公園</h4>
				<p>〇〇県〇〇市〇〇</p>
				タイプ：公園
			</div>

		   <div class="page-space">
		   	①②③
		</div>
	</div>
</div>