<div class="back-ground ">
	<div class="main-space">
		<div class="section-head">
			ユーザーを探す
		</div>
			<table class="table table-hover">
				<tr>
				  <th>アイコン</th>
				  <th>ユーザー</th>
				</tr>
				<tr>
				  <td>a</td>
				  <td>a</td>
				</tr>
				<tr>
				  <td>b</td>
				  <td>b</td>
				</tr>
			</table>





		</div>
	</div>
</div>