	<div class="area1">
	<div class="area-left">
		<div class="area1-link">
			<div class="area-head">
		     北海道
		     </div>
		        <div class="prefecture-list1">
		        	北海道
		        </div>
		  </div>
	   </div>
	</div>
</div>
<div class="area2 crearfix">
	<div class="area-right crearfix">
		<div class="area-head">
		     東北
		  </div>
		     	<div class="prefecture-list">青森
		     	</div>
		     	<div class="prefecture-list">岩手
		     	</div>
		     	<div class="prefecture-list">秋田
		     	</div>
		     	<div class="prefecture-list">宮城
		     	</div>
		     	<div class="prefecture-list">山形
		     	</div>
		     	<div class="prefecture-list">福島
		     	</div>
	</div>
</div>
<div class="area3">
	<div class="area-left">
		<div class="area-head">
		       関東
			</div>
				<div class="prefecture-list-big">栃木
		     	</div>
		     	<div class="prefecture-list-big">群馬
		     	</div>
		     	<div class="prefecture-list-big">茨城
		     	</div>
		     	<div class="prefecture-list-big">千葉
		     	</div>
		     	<div class="prefecture-list-big">埼玉
		     	</div>
		     	<div class="prefecture-list-big">東京
		     	</div>
		     	<div class="prefecture-list-big">神奈川
		     	</div>
	</div>
</div>
<div class="area4 crearfix">
	<div class="area-right">
		<div class="area-head">
		     北陸・甲信越
		    </div>
		    	<div class="prefecture-list">新潟
		     	</div>
		     	<div class="prefecture-list">富山
		     	</div>
		     	<div class="prefecture-list">石川
		     	</div>
		     	<div class="prefecture-list">福井
		     	</div>
		     	<div class="prefecture-list">山梨
		     	</div>
		     	<div class="prefecture-list">長野
		     	</div>
	</div>
</div>
<div class="area5">
	<div class="area-left">
		<div class="area-head">
			 東海
			</div>
				<div class="prefecture-list">静岡
		     	</div>
		     	<div class="prefecture-list">愛知
		     	</div>
		     	<div class="prefecture-list">岐阜
		     	</div>
		     	<div class="prefecture-list">三重
		     	</div>
	</div>
</div>
<div class="area6 crearfix">
	<div class="area-right">
		<div class="area-head">
				関西
			</div>
				<div class="prefecture-list">滋賀
		     	</div>
		     	<div class="prefecture-list">京都
		     	</div>
		     	<div class="prefecture-list">大阪
		     	</div>
		     	<div class="prefecture-list">奈良
		     	</div>
		     	<div class="prefecture-list">兵庫
		     	</div>
		     	<div class="prefecture-list">和歌山
		     	</div>
	</div>
</div>
<div class="area7">
	<div class="area-left">
		<div class="area-head">
			中国
			</div>
				<div class="prefecture-list">岡山
		     	</div>
		     	<div class="prefecture-list">鳥取
		     	</div>
		     	<div class="prefecture-list">島根
		     	</div>
		     	<div class="prefecture-list">広島
		     	</div>
		     	<div class="prefecture-list">山口
		     	</div>
	</div>
</div>
<div class="area8 crearfix">
	<div class="area-right">
		<div class="area-head">
			四国
			</div>
				<div class="prefecture-list">愛媛
		     	</div>
		     	<div class="prefecture-list">高知
		     	</div>
		     	<div class="prefecture-list">徳島
		     	</div>
		     	<div class="prefecture-list">香川
		     	</div>
	</div>
</div>
<div class="area9">
	<div class="area-left">
		<div class="area-head">
			九州
			</div>
				<div class="prefecture-list-big">福岡
		     	</div>
		     	<div class="prefecture-list-big">佐賀
		     	</div>
		     	<div class="prefecture-list-big">長崎
		     	</div>
		     	<div class="prefecture-list-big">熊本
		     	</div>
		     	<div class="prefecture-list-big">大分
		     	</div>
		     	<div class="prefecture-list-big">宮崎
		     	</div>
		     	<div class="prefecture-list-big">鹿児島
		     	</div>
		     	<div class="prefecture-list-big">沖縄
		     	</div>
	</div>
</div>