<div class="area1">
	<div class="area-left">
		北海道
	</div>
</div>
<div class="area2">
	<div class="area-right">
		東北
	</div>
</div>
<div class="area3">
<div class="area-left">
		関東
	</div>
</div>
<div class="area4">
<div class="area-right">
		北陸・甲信越
	</div>
</div>
<div class="area5">
<div class="area-left">
		東海
	</div>
</div>
<div class="area6">
<div class="area-right">
		関西
	</div>
</div>
<div class="area7">
<div class="area-left">
		中国
	</div>
</div>
<div class="area8">
<div class="area-right">
		四国
	</div>
</div>
<div class="area9">
<div class="area-left">
		九州
	</div>
</div>