<div class="about">
	<div class="about-main">
		<div class="about-head">
			<h2>ドコネル</h2>
		</div>
		<!-- <img src="images/no.jpg"><br> -->
		ドコネルは「全国のネドコ(野宿)検索&投稿サイト」です<br><br>
		サイト管理人は2014年〜2015年に自転車で日本一周をしました<br>
		<i class="fa fa-bicycle" aria-hidden="true" style="font-size:70px"></i><br>
		もちろん毎日宿に泊まるお金もないので野宿です<br>
		旅を計画する人は、野宿やキャンプを前提としている人が大半ではないでしょうか<br><br>
		しかし<br>
		毎年一定数旅人がいるにも関わらず、「快適なネドコ」の情報が少ない気がします。<br>
		そこで野宿経験のある私は<br><br>
		「検索できるサイトがあればよくない？」<br>
		と思い、このサイトを制作しました
		</div>
</div>
<div class="about1">
	<div class="about-main" style="color:white;">
		<div class="about-head" style="color:white;">
			<h3>ドコネルのコンセプト</h3>
		</div>
		コンセプトはズバリ<br><br>
		「旅人応援」<br><br>
		実際に野宿経験のあるネドコを検索できるので
		<br>
		旅、野宿へのハードルが下がるのではないかと思っています
		<br><br>
		私は旅ですばらしい経験をしました
		<br><br>
		そしてそのすばらしい旅をするための後押しをできるサイトを目指しています
	</div>
</div>
<div class="about">
	<div class="about-main">
		<div class="about-head">
			<h3>ドコネルでできること</h3>
		</div>
		<div class="content-space clearfix">
			<div class="about-item">
				<div class="about-image">
					<%= image_tag('/images/item3.jpg', :size => '230x230', class: "radius") %>
				<h4>泊まりたいネドコが<br>見つかる</h4>
				</div>
					<p class="about-text-s">地名、休憩所や東屋の有無などから検索できるため、きっと今晩の快適なネドコが見つかります</p>
			</div>
			<div class="about-item">
				<div class="about-image">
					<%= image_tag('/images/item2.jpg', :size => '230x230', class: "radius") %>
					<h4>ネドコを投稿し<br>悦に浸れる</h4>
				</div>
					<p class="about-text-s">ユーザー登録をして宿泊済みのネドコを登録すると、エリアごとに泊まった回数がグラフで表示されます</p>
			</div>
			<div class="about-item">
				<div class="about-image">
					<%= image_tag('/images/main-image6.jpg', :size => '230x230', class: "radius") %>
					<h4>仲間が見つかる</h4>
				</div>
					<p class="about-text-s">旅・野宿・またキャンプ好きまで。仲間と繋がれるためのコミュニティを目指しています</p>
			</div>
		</div>
	</div>
</div>
	</div>
<div class="about1">
	<div class="about-main" style="color:white;">
		<div class="about-head" style="color:white;">
			<h3>ドコネルからのお願い</h3>
		</div>
			ドコネルは「ネドコの検索&投稿サイト」です<br>
			つまり、投稿してくれる人がいないと成り立ちません<br><br>
			管理人の経験だけでは新規旅人に有用なサイトになるとは言えないので<br>
			どんどん「快適なネドコ」を投稿してほしいと思っています<br><br>
			そして旅のすばらしさが伝わり、仲間ができればなお良し<br><br>
			旅のすばらしさを広める第一歩として<br>快適なネドコが見つかることが重要ではないかと管理人は考えています
			<br><br>
			そのためにも、ご協力いただけたら幸いです<br><br><br>
			それでは、ドコネルで良い夜をお過ごしください
	</div>
</div>
<div class="about">
	<div class="about-link">
		<%= link_to "ドコネル", root_path, :style => "color:gray" %> >
		ドコネルについて
	</div>
</div>