<div class="back-ground">
	<div class="main-space">
		<div class="section-head">
			<h2>お問い合わせ</h2>
		</div>
			ドコネルへのご要望やその他お問い合わせなどはこちらからお願いします<br><br>
			管理人のツイッターはこちら
			<a href="https://twitter.com/fumu_238">
				<div class="twitter-btn">Twitter</div></a><br>
			気軽に質問したい方は質問箱へどうぞ<br>

			<a href="https://peing.net/ja/fumu_238?event=0">
				<div class="peing-btn">質問箱</div></a>
		<div class="section-head">
	</div>
	<%= link_to "ドコネル",root_path ,:style => "color:gray" %> >
		お問い合わせ
</div>
