/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

a {
   text-decoration: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*application_html-----------------*/
header {
	width:100%;
	position: fixed;
	height:100px;
  	top: 0;
  	left: 0;
  	z-index: 3;
  	background-color: white;
  	opacity:0.8;
  	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	-moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
header.scroll {
	width: 100%;
  	height: 60px;
  	background-color: white;
  	opacity:1;
  	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.head-logo {
	display: inline-block;
	float:left;
	height:100px;
	line-height: 100px;
	font-size:40px;
	margin-left:70px;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	 -moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.head-logo.scroll {
	display: inline-block;
	height:60px;
	line-height: 60px;
	margin-left:70px;
	font-size:40px;
}
.head-right {
	float:right;
	height:100px;
	width:800px;
	line-height:100px;
	font-size:18px;
	margin-right:30px;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	 -moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.head-right.scroll {
	float:right;
	width:800px;
	height:60px;
	line-height:60px;
	font-size:18px;
}
.head-links {
	display:inline-block;
	margin-right:30px;
}

footer {
	width:100%;
	height:220px;
	background-color:#006e54;
}
.footer-box {
	width:800px;
	margin:0 auto;
	text-align: center;
	padding-top:30px;
}

.footer-logo {
	width:400px;
	color:white;
	margin:0 auto;
	text-align: center;
	margin-top:70px;
}

body {
	font-family: 'TsukuARdGothic-Regular',sans-serif;
	margin-top:100px;
}

.humburger {
	display:none;
	float:right;
	font-size:40px;
	position:fixed;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	-moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.humburger.scroll {
	top:0;
}

.menu-modal {
	position: fixed;
	background-color: white;
	top:70px;
	left: 0;
	width:100%;
	z-index: 3;
	display: none;
}
.humburger2 {
	display:none;
	float:right;
	font-size:40px;
	position:fixed;
	top:5px;
	right:25px;
}
/*--------------------------------*/




/*共通-----------------------------*/
.back-ground {
	width:100%;
	margin-bottom:50px;
}
.main-space {
	width:800px;
	background-color: #f3f3f3/*#fdeff2*/;
	margin:0 auto;
	padding:30px 10px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.content-space {
	padding:20px 10px 20px;
}
.index-favorite {
	margin-bottom:20px;
	border-bottom:solid 2px #006e54/*#99cc99*/;
	padding-bottom:20px;
}
.section-head {
	padding:30px 20px 10px;
	border-bottom:solid 2px #cccccc;
	margin-bottom:20px;
}
.main-content {
	padding:5px 15px;
	transition: .3s;
	text-align: center;
}
.main-content:hover {
	 opacity: 0.6;
}
.red {
	color:red;
}
.index-image {
	height:180px;
	width:240px;
	border:solid 1px #f5f5f5;
	float:left;
	margin:0 10px 10px 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
.index-info{
	float:left;
	width:480px;
}
.top-back {
	background-color: white;
}
.rgb {
	background-color: rgba(0,0,0,0.0) !important;
}
/*----------------------------*/





/*prefecture_index(areas)----------------*/
.area1{
	width:100%;
	height:300px;
	background-image: url(/images/hokkaido.jpg);
	background-size:cover;
}
.area2{
	width:100%;
	height:300px;
	background-image: url(/images/tohoku.jpg);
	background-size:cover;
}
.area3{
	width:100%;
	height:300px;
	background-image: url(/images/kanto.jpg);
	background-size:cover;
}
.area4{
	width:100%;
	height:300px;
	background-image: url(/images/hokuriku.jpg);
	background-size:cover;
}
.area5{
	width:100%;
	height:300px;
	background-image: url(/images/tokai.jpg);
	background-size:cover;
}
.area6{
	width:100%;
	height:300px;
	background-image: url(/images/kansai.jpg);
	background-size:cover;
}
.area7{
	width:100%;
	height:300px;
	background-image: url(/images/chugoku.jpg);
	background-size:cover;
}
.area8{
	width:100%;
	height:300px;
	background-image: url(/images/udon.jpg);
	background-size:cover;
}
.area9{
	width:100%;
	height:300px;
	background-image: url(/images/kyushu.jpg);
	background-size:cover;
}
.area-left {
	width:500px;
	height:300px;
	background-color: white;
	opacity:0.8;
}
.area-right {
	float:right;
	width:500px;
	height:300px;
	background-color: white;
	opacity:0.8;
}
.area-head {
	text-align:center;
	font-size:25px;
}
.prefecture-list1 {
	height:240px;
	text-align: center;
	line-height: 240px;
	font-size:22px;
}
.prefecture-list1 a {
	width:100%;
	text-decoration: none;
	display: inline-block;
}
.prefecture-list1:hover {
	-webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border:solid 1px #99cc99;
}
.prefecture-list {
	float:left;
	width:250px;
	height:80px;
	text-align: center;
	line-height: 80px;
	font-size:22px;
	padding:0 5px 0;
}
.prefecture-list a {
	text-decoration: none;
	width:100%;
	display: inline-block;
}
.prefecture-list:hover {
	-webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border:solid 1px #99cc99;
}
.prefecture-list-big {
	float:left;
	width:250px;
	height:60px;
	text-align: center;
	line-height: 60px;
	font-size:22px;
}
.prefecture-list-big a {
	text-decoration: none;
	width:100%;
	display: inline-block;
}
.prefecture-list-big:hover {
	-webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border:solid 1px #99cc99;
}
/*------------------------------------*/




/*prefecture_show-------------*/

.prefecture-show-main-text {
	text-align: center;
	font-size: 25px;
	margin-bottom:50px;
}
.page-space {
	height:100px;
	width:600px;
	text-align: center;
	margin: 0 auto;
}
.page a {
	display:inline-block;
  	border:solid 3px orange;
  	border-radius: 30px;
  	padding:4px 10px;
  	color: gray;
}
.current {
	display:inline-block;
  	background-color: orange;
  	border:solid 3px orange;
  	border-radius: 30px;
  	padding:4px 10px;
  	color: white;
}
.spot-count {
	float:right;
}
/*--------------------------------*/




/*about-------------------------------*/

.about {
	background-color: #f3f3f3;
	width:100%;
	padding:40px 0 50px 0 ;
}
.about1 {
	background-color: #68be8d;
	width:100%;
	padding:40px 0 50px 0 ;
}
.about-main {
	width:800px;
	margin:0 auto;
	text-align:center;
	font-size:20px;
}
.about-link {
	width:800px;
	margin:0 auto;
}
.about-head {
	padding-bottom:35px;
}
.about-item {
	padding:10px;
	width:260px;
	float:left;
	font-size:16px;
}
.about-text-s{
	font-size:16px;
	text-align: left;
}
.about-image {
	padding-bottom:15px;
	height:300px;
}
/*--------------------------------*/



/*contact------------------------------*/
.twitter-btn {
	border:solid 2px #2ca9e1;
	border-radius: 5px;
	color: #2ca9e1;
	padding: 2px 2px;
	width: 70px;
	text-align: center;
	font-weight: bold;
}

.twitter-btn:hover {
	background-color: #2ca9e1;
	color:white;
	-webkit-transition: all 0.4s ease;
 	 -moz-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
}
.peing-btn {
	border:solid 2px #00a497;
	border-radius: 5px;
	color: #deb887;
	padding: 2px 2px;
	width: 70px;
	text-align: center;
	font-weight: bold;
}
.peing-btn:hover {
	background-color:#00a497;
	color:white;
	-webkit-transition: all 0.4s ease;
 	 -moz-transition: all 0.4s ease;
  	-o-transition: all 0.4s ease;
}


/*contact------------------------------*/

/*agreement------------------------*/
.agree {
	width:100%;
	height:100%;
	position:fixed;
	background-color: rgba(0,0,0,0.2);
	z-index: 3;
	top:0;
	left:0;
	display: none;
}
.agree-modal {
	border-radius: 10px;
	border:solid 5px white;
	margin-top:40px;
}
.agree-scroll {
	overflow: scroll;
	height:500px;
}
.off-btn {
	float:right;
	font-size:30px;
	cursor: pointer;
	margin-right:20px;
}


/*--------------------------------*/























/*---------------------------------------------------------*/
@media screen and (max-width:1102px){

/*menu---------------------------------*/
.head-right {
	display:none;
}
.humburger {
	display: inline-block;
	top:20px;
	right:50px;
}

.humburger:hover {
	cursor: pointer;
}
.menu-modal {
	position: fixed;
	background-color: white;
	top:70px;
	left: 0;
	width:100%;
	z-index: 3;
	display: none;
}
.menu-modal.scroll {
	top:60px;
}
.menu-list {
	font-size:20px;
	padding:5px;
	border-bottom:dotted 2px gray;
}
.menu-list:nth-child(1){
	text-align:center;
	border-bottom:none;
}
.menu-content {
	padding:10px 20px 2px 20px;
	margin-bottom:5px;
}
.humburger2 {
	top:20px;
	right:50px;
}
}
/*---------------------------------------*/




@media screen and (max-width:425px) {

header {
	height:70px;
}
body {
	margin-top:70px;
}

.back-ground {
	width:100%;
	padding:0 5px 0 5px;
}
.main-space {
	width:100%;
}
.page-space {
	width:100%;
}
.head-logo {
	height:70px;
	margin-left:10px;
	font-size:30px;
	line-height: 70px;
	float:left;
}
.head-logo.scroll {
	margin-left:10px;
	font-size:30px;
	height:60px;
}
.head-right {
	display:none;
}
.footer-box {
	width:100%;
}
.footer-logo {
	width:100%;
}
footer {
	font-size:15px;
}

.search-s {
	font-size:10px;
}


.humburger {
	top:5px;
	right:25px;
}
.humburger2 {
	top:5px;
	right:25px;
}








/*top(spot_index)------------------------------*/
.top-main {
	height:400px;
	padding-top:150px;
}
.top-main-box {
	height:100px;
	font-size:20px;
	line-height: 100px
}
.top-add-box {
	width:94%;
}
.add-text {
	font-size: 18px;
}
.add-btn {
	width:200px;
	height:100px;
	line-height: 4;
	font-size:20px;
	margin:40px auto 0;
	float: none;
}
.japan-map {
	display:none;
}
.map-box {
	display:none;
}
.section-head {
	width:100%;
	text-align: center;
}
.index-image {
	margin-left:35px;
}
.index-info{
	width:100%;
}
.index-favorite {
	margin-bottom:20px;
	padding:0 10px 20px 10px;

}
.favorite-box {
	width:330px;
	padding:0 40px 0 ;
	margin-left:0;
	margin:2px 0 6px;
}
/*.favorite-box-r {
	width:340px;
	padding:0 40px 0 60px ;
	margin: 10px 0 0 0;
}*/










/*area-------------------------------------*/
.area1{
	background-position: center;
}
.area2{
	background-position: center;
}
.area3{
	background-position: center;
}
.area4{
	background-position: center;
}
.area5{
	background-position: center;
}
.area6{
	background-position: center;
}
.area7{
	background-position: center;
}
.area8{
	background-position: center;
}
.area9{
	background-position: center;
}
.area-left {
	width:180px;
}
.area-right {
	width:180px;
}
.prefecture-list {
	width:90px;
	font-size:20px;
}
.prefecture-list-big {
	width:90px;
	font-size:20px;
}








/*spot_show---------------------------------------*/

.spot-info-box dl dt {
	width:170px;
}
.spot-info-box dl dd {
	width:135px;
	text-align: center;
}
.icon {
	font-size:30px;
}
.spot-basis-info {
	width:100%;
	margin-left:0px;
}
.discription {
	width:330px;
	margin-top:50px;
}

.comment {
	width:330px;
}
.comment-user {
	width:330px;
	margin-top:30px;
}
.no-comment {
	width:330px;
	margin-top:50px;

}
.comment-scroll {
	width:330px;
	margin-top:50px;
}
.comment-box {
	width:355px;
	margin:300px 0 0 10px ;
}
.swiper-container {
	width:320px;
	height:300px;
}
.slide-image {
	width:315px;
	height:230px;
}
.head-user {
	margin:0 auto;
	float:none;
}
.spot-h3 {
	width:200px;
}





/*-new_image-----------------------------*/
.spot-image-box-new {
	height:160px;
	margin:0 0 10px 10px;
	border-bottom:solid 2px #cccccc;
}
.spot-image-new {
	float:left;
	height:150px;
}
.image-new-discription {
	float:left;
	padding:10px 0 0 10px;
}
.edit-button {
	float:right;
	font-size:15px;
}
.image-new-discription {
	width:100%;
}
.spot-image-box-new {
	height:260px;
}
.new-image {

}
/*-------------------------------------*/






/*user-------------------------------------*/

.head-image {
	width:345px;
	height:170px;
}
.user-header-image {
	width:345px;
	height:170px;
}

.radius-icon {
	height:100px;
	width:100px;
}
.user-icon {
	height:100px;
	top:30px;
	left:10px;
}
.user-name {
	width:105px;
	top:120px;
	left:10px;
}
.user-info-line {
	width:110px;
	padding:9px 0;
}
.intro-line {
	margin:0 0 15px;
}
.user-info-space {
	height:70px;
}
.intro-line-box {
	margin-left:40px;
}


/*-------------------------------------*/





/*about-------------------------------*/

.about {
	background-color: #f3f3f3;
}
.about1 {
	background-color: #68be8d;
}
.about-main {
	width:100%;
	margin:0 auto;
	font-size:15px;
	padding:0 10px;
}
.about-link {
	width:100%;
}
.about-head {
	padding-bottom:35px;
}
.about-item {
	width:100%;
	font-size:15px;
}
.about-text-s{
	font-size:15px;
}
/*--------------------------------*/



}