/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

a {
   text-decoration: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/*application_html-----------------*/
header {
	width:100%;
	height:100px;
	position: fixed; /* ヘッダーを固定(これが重要) */
  	top: 0; /* 固定する位置 */
  	left: 0; /* 固定する位置 */
  	z-index: 3;
  	background-color: white;
  	opacity:0.8;
  	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	 -moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
header.scroll {
	width: 100%;
  	height: 60px;
  	background-color: white;
  	opacity:1;
  	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.head-logo {
	display: inline-block;
	float:left;
	height:100px;
	line-height: 100px;
	font-size:40px;
	margin-left:70px;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	 -moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.head-logo.scroll {
	display: inline-block;
	width:500px;
	height:60px;
	line-height: 60px;
	margin-left:70px;
	font-size:40px;
}
.head-right {
	float:right;
	height:100px;
	width:800px;
	line-height:100px;
	font-size:18px;
	margin-right:30px;
	transition: all 0.8s ease;
  	-webkit-transition: all 0.8s ease;
 	 -moz-transition: all 0.8s ease;
  	-o-transition: all 0.8s ease;
}
.head-right.scroll {
	float:right;
	width:800px;
	height:60px;
	line-height:60px;
	font-size:18px;
}
.head-links {
	display:inline-block;
	margin-right:30px;
}
footer {
	width:100%;
	height:120px;
	background-color:#006e54;
}
.footer-link {
	line-height: 120px;
	float:left;
	color:white;
	margin-left: 50px
}
.footer-logo {
	line-height: 120px;
	float:right;
	color:white;
	margin-right:50px;
}

body {
	font-family: 'TsukuARdGothic-Regular',sans-serif;
	margin-top:100px;
}
/*--------------------------------*/








/*共通-----------------------------*/
.back-ground {
	width:100%;
	margin-bottom:50px;
}
.main-space {
	width:800px;
	background-color: #f3f3f3/*#fdeff2*/;
	margin:0 auto;
	padding:30px 10px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
.content-space {
	padding:20px 10px 20px;
}
.index-favorite {
	margin-bottom:20px;
	border-bottom:solid 2px #006e54/*#99cc99*/;
	padding-bottom:20px;
}
.section-head {
	padding:30px 20px 10px;
	border-bottom:solid 2px #cccccc;
	margin-bottom:20px;
}
.main-content {
	padding:5px 15px;
	transition: .3s;
	text-align: center;
}
.main-content:hover {
	 opacity: 0.6;
}
.red {
	color:red;
}
.index-image {
	height:180px;
	width:240px;
	border:solid 1px #f5f5f5;
	float:left;
	margin:0 10px 10px 20px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
.index-info{
	float:left;
	width:480px;
}
.top-back {
	background-color: white;
}
.rgb {
	background-color: rgba(0,0,0,0.0) !important;
}
/*----------------------------*/








/*prefecture_index(areas)----------------*/
.area1{
	width:100%;
	height:300px;
	background-image: url(/images/hokkaido.jpg);
	background-size:cover;
}
.area2{
	width:100%;
	height:300px;
	background-image: url(/images/tohoku.jpg);
	background-size:cover;
}
.area3{
	width:100%;
	height:300px;
	background-image: url(/images/kanto.jpg);
	background-size:cover;
}
.area4{
	width:100%;
	height:300px;
	background-image: url(/images/hokuriku.jpg);
	background-size:cover;
}
.area5{
	width:100%;
	height:300px;
	background-image: url(/images/tokai.jpg);
	background-size:cover;
}
.area6{
	width:100%;
	height:300px;
	background-image: url(/images/kansai.jpg);
	background-size:cover;
}
.area7{
	width:100%;
	height:300px;
	background-image: url(/images/chugoku.jpg);
	background-size:cover;
}
.area8{
	width:100%;
	height:300px;
	background-image: url(/images/udon.jpg);
	background-size:cover;
}
.area9{
	width:100%;
	height:300px;
	background-image: url(/images/kyushu.jpg);
	background-size:cover;
}
.area-left {
	width:500px;
	height:300px;
	background-color: white;
	opacity:0.8;
}
.area-right {
	float:right;
	width:500px;
	height:300px;
	background-color: white;
	opacity:0.8;
}
.area-head {
	text-align:center;
	font-size:25px;
}
.prefecture-list1 {
	height:240px;
	text-align: center;
	line-height: 240px;
	font-size:22px;
}
.prefecture-list1 a {
	width:100%;
	text-decoration: none;
	display: inline-block;
}
.prefecture-list1:hover {
	-webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border:solid 1px #99cc99;
}
.prefecture-list {
	float:left;
	width:250px;
	height:80px;
	text-align: center;
	line-height: 80px;
	font-size:22px;
	padding:0 5px 0;
}
.prefecture-list a {
	text-decoration: none;
	width:100%;
	display: inline-block;
}
.prefecture-list:hover {
	-webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border:solid 1px #99cc99;
}
.prefecture-list-big {
	float:left;
	width:250px;
	height:60px;
	text-align: center;
	line-height: 60px;
	font-size:22px;
}
.prefecture-list-big a {
	text-decoration: none;
	width:100%;
	display: inline-block;
}
.prefecture-list-big:hover {
	-webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
	border:solid 1px #99cc99;
}






/*prefecture_show-------------*/

.prefecture-show-main-text {
	text-align: center;
	font-size: 25px;
	margin-bottom:50px;
}
.page-space {
	height:100px;
	width:600px;
	text-align: center;
	margin: 0 auto;
}
.page a {
	display:inline-block;
  	border:solid 3px orange;
  	border-radius: 30px;
  	padding:4px 10px;
  	color: gray;
}
.current {
	display:inline-block;
  	background-color: orange;
  	border:solid 3px orange;
  	border-radius: 30px;
  	padding:4px 10px;
  	color: white;
}
.spot-count {
	float:right;
}












@media screen and (max-width:425px) {
.back-ground {
	width:100%;
	padding:0 5px 0 5px;
}
.main-space {
	width:100%;
}
.head-logo {
	width:100%;
	margin-left:10px;
}
.head-logo.scroll {
	margin-left:10px;
}
.head-right {
	display:none;
}
.top-add-box {
	width:100%;
}
.japan-map {
	display:none;
}
.map-box {
	display:none;
}
.section-head {
	width:100%;
}
.index-image {
	margin-left:40px;
}
.index-info{
	width:100%;
}
.favorite-box {
	margin-left:50px;
}
.footer-logo {
	line-height:bottom;
	color:white;
	margin-right:0px;
}
.area-left {
	width:180px;
}
.area-right {
	width:180px;
}
.prefecture-list {
	width:90px;
}
.prefecture-list-big {
	width:90px;
}

.page-space {
	width:100%;
}


/*user-------------------------------------*/
img.attachment.user.background_image{
	width: 340px;
	height:150px;
}
.user-header-image {
	height:150px;
	width:340px;
}
img.attachment.user.profile_image {
	height:100px;
	width:100px;
}
.user-icon {
	height:100px;
	top:10px;
	left:10px;
}
.user-name {
	width:100px;
	top:105px;
	left:10px;
}
.user-info-line {
	width:110px;
}
.user-info-space {
	height:70px;
}

.user-info-line:active {
	-webkit-transition: 0.2s ease;
 	 -moz-transition: 0.2s ease;
  	-o-transition: 0.2s ease;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.6) inset;
	-webkit-transform: translateY(+1px);
    -ms-transform: translateY(+1px);
    transform: translateY(+1px);
}
.user-info-line a {
	width:100%;
	display:inline-block;
}
.intro-line {
	margin:30px 0 30px;
}
.intro-line-box {
	float:left;
	width:250px;
	text-align: center;
}







}
