// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*user_show---------------------------*/

.user-header-image {
	height:290px;
	width:780px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}
.user-icon {
	position:absolute;
	height:150px;
	top:210px;
	left:400px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
	z-index: 2;
}
.user-name {
	background-color: white;
	text-align: center;
	width:150px;
	border:solid 1px;
	border-radius: 5px;
	margin-top:10px;
	position:absolute;
	top:355px;
	left:400px;
	font-weight: bold;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
}
.user-info-space {
	height:50px;
	border:solid 4px gray;
	border-radius: 5px;
	margin-top:10px;
}

.user-info-line:nth-child(2){
	border-right:solid 3px gray;
	border-left:solid 3px gray;
}
.user-info-line {
	float:left;
	width:257px;
	text-align:center;
	padding: 9px 0;
}
/*.user-info-line:hover {
	box-shadow: 3px 3px 3px rgba(0,0,0,0.6) inset;
}*/
.user-info-line:active {
	-webkit-transition: 0.2s ease;
 	 -moz-transition: 0.2s ease;
  	-o-transition: 0.2s ease;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.6) inset;
	-webkit-transform: translateY(+1px);
    -ms-transform: translateY(+1px);
    transform: translateY(+1px);
}
.user-info-line a {
	width:100%;
	display:inline-block;
}

.introduction dt{
	width:100px;
}
.introduction dd{
	width:500px;
}
.introduction dl {
	display: flex;
}

/*ログイン*/
.signup-link {
	text-align: center;
}
