// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*user_show---------------------------*/

.user-header-image {
	height:300px;
	/*padding:100px 0 0 30px;*/
}
.user-icon {
	width:150px;
	height:150px;
	position:absolute;
	top:227px;
	/*border-radius: 50px;*/
}
.user-name {
	background-color: white;
	width:150px;
	margin-top:10px;
	position:absolute;
	top:367px;
}
.user-info-space {
	height:50px;
	border:solid 4px gray;
	border-radius: 5px;
}

.user-info-line:nth-child(2){
	border-right:solid 3px gray;
	border-left:solid 3px gray;
}
.user-info-line {
	float:left;
	width:257px;
	text-align:center;
	padding: 9px 0;
}
.user-info-line a {
	width:100%;
	display:inline-block;
}

.introduction dt{
	width:100px;
}
.introduction dd{
	width:500px;
}
.introduction dl {
	display: flex;
}

/*ログイン*/
.signup-link {
	text-align: center;
}
